.RollNumber{
    position: relative;
}

.whiteBox{
    position: absolute;
    width: 20px;
    height: 25px;
    background-color: white;
    top: 35%;
    right: 5%;
}

.block{
    display: block;
}

.none{
    display: none;
}

.overlayLogin{
    width: 98vw;
    height: 90vh;
    position: absolute;
    left: 0%;
    top: 70px;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}